<div class="mainContainer">
    <div class="cardContainer">
      <div>
        <div class="card" borderDirective>
            <img src="assets/image/poodle.jpg">
            <h1>Medium Poodle</h1>
            <p appCardDirective>Height: 38-50cm</p>
            <p appCardDirective>Weight: 9-13kg</p>
            <p appCardDirective>Life Expectancy: 12-15 years</p>
        </div>
        <div poodleButton>
            <button show>Show</button>
            <button hide>Hide</button>
        </div>
      </div>
        <div>
            <div class="card1" borderDirective>
                <img src="assets/image/rott.jpg">
                <h1>ROTTWEILER</h1>
                <p appCardDirective>Height: Males 61 - 69 cm | Females 56 - 63 cm</p>
                <p appCardDirective>Weight: Males 43 - 59 kg | Females 38 - 52 kg</p>
                <p appCardDirective>Life Expectancy: 10-12 years</p>
            </div>
            <div rottweilerButton>
                <button show>Show</button>
                <button hide>Hide</button>
            </div>
        </div>
    </div>
</div>